/*
    Fonte da Página
*/
*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/*
    Cor de Fundo
*/
body{
    background-color: #f6f8fc;
}

/*
    Tamanho da aréa
*/
.content{
    width: 100vw;
    height: auto;
    padding: 1rem;
    background-color: white;
    
}
/*
    Rodapé
*/
footer#rodape p{
    text-align: center;
}
/*
    Deixando layout responsivo
*/
@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}